################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PostApi/bin/Debug/netcoreapp3.1
/PostApi/.vs/PostApi
/PostApi/obj
